input, textarea {
  line-height: 22px;
}

.lock-y {
  *position: static;
}

/*
 * =BUTTONS */

input[type=submit],
input[type=button],
input[type=reset],
button,
.button,
.button:link, .button:visited {
  zoom: 1;
  overflow: visible;
  
}
input[type=submit].small,
input[type=button].small,
input[type=reset].small,
button.small {
  line-height: 14px;
}

/* IE 7 only */
*:first-child+html button.small i.icon {
  position: relative;
  top: -1px;
  left: -8px;
}