@charset "UTF-8";
/* 
-----------------------------------------------
Inputs
Nice base styles for form elements
v0.3
----------------------------------------------- */
label, input[type="image"] {
  cursor: pointer; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button, input[type=submit],
input[type="button"],
input[type=reset], button {
  cursor: pointer;
  overflow: visible;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  height: 29.5px;
  padding: 0 1em;
  line-height: 29.5px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid #cccccc;
  background: #328fdf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9ccdd), color-stop(3.33%, #4399e3), color-stop(100%, #2186dc));
  background: -webkit-linear-gradient(top, #b9ccdd 0%, #4399e3 1px, #2186dc 100%);
  background: -moz-linear-gradient(top, #b9ccdd 0%, #4399e3 1px, #2186dc 100%);
  background: -o-linear-gradient(top, #b9ccdd 0%, #4399e3 1px, #2186dc 100%);
  background: -ms-linear-gradient(top, #b9ccdd 0%, #4399e3 1px, #2186dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4399e3", endColorstr="#2186dc",GradientType=0 );
  background: linear-gradient(top, #b9ccdd 0%, #4399e3 1px, #2186dc 100%);
  border-color: #2172b9;
  color: white;
  text-shadow: 0 -1px 0 #2172b9; }
  .button:visited, input[type=submit]:visited,
  input[type="button"]:visited,
  input[type=reset]:visited, button:visited {
    color: white; }
  .button:hover, input[type=submit]:hover,
  input[type="button"]:hover,
  input[type=reset]:hover, button:hover {
    background: #3a94e1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4cde2), color-stop(3.33%, #4c9ee4), color-stop(100%, #288bdf));
    background: -webkit-linear-gradient(top, #b4cde2 0%, #4c9ee4 1px, #288bdf 100%);
    background: -moz-linear-gradient(top, #b4cde2 0%, #4c9ee4 1px, #288bdf 100%);
    background: -o-linear-gradient(top, #b4cde2 0%, #4c9ee4 1px, #288bdf 100%);
    background: -ms-linear-gradient(top, #b4cde2 0%, #4c9ee4 1px, #288bdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c9ee4", endColorstr="#288bdf",GradientType=0 );
    background: linear-gradient(top, #b4cde2 0%, #4c9ee4 1px, #288bdf 100%); }
  .button.disabled, input.disabled[type=submit],
  input.disabled[type="button"],
  input.disabled[type=reset], .button:active, input[type=submit]:active,
  input[type="button"]:active,
  input[type=reset]:active, button.disabled, button:active {
    background: #3a94e2;
    color: #30404e;
    text-shadow: none;
    box-shadow: inset 0 1px 0 #2072b8;
    background: #447ec9;
    color: #8fb7da;
    text-shadow: 0 -1px 0 #2172b9; }
  .button.disabled, input.disabled[type=submit],
  input.disabled[type="button"],
  input.disabled[type=reset], button.disabled {
    cursor: default; }
  .button.small, input.small[type=submit],
  input.small[type="button"],
  input.small[type=reset], button.small {
    height: 16px;
    padding: 2px 1em;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    *line-height: 14px;
    font-family: "Lucida Grande", Verdana, Tahoma, Ubuntu, sans-serif; }

input[type=submit],
input[type="button"],
input[type=reset],
button {
  height: 31.5px;
  line-height: normal; }

input.small[type=submit],
input.small[type="button"],
input.small[type=reset],
button.small {
  height: 22px; }

/* 
-----------------------------------------------
Text fields
----------------------------------------------- */
input[type=text],
input,
textarea {
  font-size: 13px;
  height: 22px;
  /* Avoid shorthand for padding - IE bug: http://prax.is/misc/ie8-bug-css-padding-input-element.html */
  padding: 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
  background: #fcfcfc; }

textarea {
  height: auto; }

input:focus, textarea:focus {
  background: #fff; }

input[type=checkbox] {
  padding: 0;
  border: none;
  background: none; }

.lock-x {
  margin-right: 10px;
  /* = textfield-padding-left + textfield-padding-right + textfield-border-left-width + textfield-border-right-width*/ }

.lock-x input,
.lock-x textarea {
  width: 100%; }

/* Work in progress */
.lock-y {
  margin-bottom: 14px;
  /* = textarea-padding-top + textarea-padding-bottom + textarea-border-top-width + textarea-border-bottom-width*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }

.lock-y textarea {
  height: 100%; }

/* 
-----------------------------------------------
Button Group
----------------------------------------------- */
ul.button-group {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }
  ul.button-group li {
    list-style: none;
    list-style-image: none;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  ul.button-group input[type=submit],
  ul.button-group input[type="button"],
  ul.button-group input[type=reset],
  ul.button-group button,
  ul.button-group .button,
  ul.button-group input[type=submit],
  ul.button-group
  input[type="button"],
  ul.button-group
  input[type=reset] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0; }
  ul.button-group li.first input[type=submit],
  ul.button-group li.first input[type="button"],
  ul.button-group li.first input[type=reset],
  ul.button-group li.first button,
  ul.button-group li.first .button,
  ul.button-group li.first input[type=submit],
  ul.button-group li.first
  input[type="button"],
  ul.button-group li.first
  input[type=reset] {
    border-right-width: 0; }
  ul.button-group li.last input[type=submit],
  ul.button-group li.last input[type="button"],
  ul.button-group li.last input[type=reset],
  ul.button-group li.last button,
  ul.button-group li.last .button,
  ul.button-group li.last input[type=submit],
  ul.button-group li.last
  input[type="button"],
  ul.button-group li.last
  input[type=reset] {
    border-left-width: 0; }
    ul.button-group li.last input[type=submit]:after,
    ul.button-group li.last input[type="button"]:after,
    ul.button-group li.last input[type=reset]:after,
    ul.button-group li.last button:after,
    ul.button-group li.last .button:after,
    ul.button-group li.last input[type=submit]:after,
    ul.button-group li.last
    input[type="button"]:after,
    ul.button-group li.last
    input[type=reset]:after {
      display: none; }

/* Paired buttons - for groups with only 2 buttons */
ul.button-group.pair li.first input[type=submit],
ul.button-group.pair li.first input[type="button"],
ul.button-group.pair li.first input[type=reset],
ul.button-group.pair li.first button,
ul.button-group.pair li.first .button,
ul.button-group.pair li.first input[type=submit],
ul.button-group.pair li.first
input[type="button"],
ul.button-group.pair li.first
input[type=reset] {
  border-right-width: 1px; }

/* 
-----------------------------------------------
Icons
----------------------------------------------- */
button.icon:before,
.button.icon:before,
input.icon[type=submit]:before,
input.icon[type="button"]:before,
input.icon[type=reset]:before {
  content: '';
  display: inline-block;
  *position: relative;
  *left: -8px;
  vertical-align: bottom;
  _vertical-align: middle;
  margin: 0 5px 0 -8px;
  width: 16px;
  height: 16px;
  background: transparent url(../images/inputs-icons.png) no-repeat; }

button.add:before, .button.add:before, input.add[type=submit]:before,
input.add[type="button"]:before,
input.add[type=reset]:before {
  background-position: -8px -8px; }
button.add:active:before, .button.add:active:before, input.add[type=submit]:active:before,
input.add[type="button"]:active:before,
input.add[type=reset]:active:before {
  background-position: -8px -72px; }

button.remove:before, .button.remove:before, input.remove[type=submit]:before,
input.remove[type="button"]:before,
input.remove[type=reset]:before {
  background-position: -8px -104px; }
button.remove:active:before, .button.remove:active:before, input.remove[type=submit]:active:before,
input.remove[type="button"]:active:before,
input.remove[type=reset]:active:before {
  background-position: -8px -168px; }

button.confirm:before, .button.confirm:before, input.confirm[type=submit]:before,
input.confirm[type="button"]:before,
input.confirm[type=reset]:before {
  background-position: -8px -200px; }
button.confirm:active:before, .button.confirm:active:before, input.confirm[type=submit]:active:before,
input.confirm[type="button"]:active:before,
input.confirm[type=reset]:active:before {
  background-position: -8px -264px; }

button.download:before, .button.download:before, input.download[type=submit]:before,
input.download[type="button"]:before,
input.download[type=reset]:before {
  background-position: -8px -296px; }
button.download:active:before, .button.download:active:before, input.download[type=submit]:active:before,
input.download[type="button"]:active:before,
input.download[type=reset]:active:before {
  background-position: -8px -360px; }

button.upload:before, .button.upload:before, input.upload[type=submit]:before,
input.upload[type="button"]:before,
input.upload[type=reset]:before {
  background-position: -8px -392px; }
button.upload:active:before, .button.upload:active:before, input.upload[type=submit]:active:before,
input.upload[type="button"]:active:before,
input.upload[type=reset]:active:before {
  background-position: -8px -456px; }

.multiplebgs input[type=submit].icon,
.multiplebgs input[type=button].icon {
  padding-left: 24px;
  background: url(../images/inputs-icons.png) no-repeat, url(../images/button.svg);
  background: url(../images/inputs-icons.png) no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6), color-stop(5%, #fcfcfc));
  background: url(../images/inputs-icons.png) no-repeat, -webkit-linear-gradient(top, white, #fcfcfc 1px, #e6e6e6);
  background: url(../images/inputs-icons.png) no-repeat, -moz-linear-gradient(top, white, #fcfcfc 1px, #e6e6e6);
  background: url(../images/inputs-icons.png) no-repeat, -o-linear-gradient(top, white, #fcfcfc 1px, #e6e6e6);
  background: url(../images/inputs-icons.png) no-repeat, linear-gradient(top, white, #fcfcfc 1px, #e6e6e6); }

/* + Add + */
.multiplebgs input[type=submit].icon.add,
.multiplebgs input[type=button].icon.add {
  padding-left: 23px;
  background-position: -5px -6px, 0 0; }

.multiplebgs input[type=submit].small.add:active,
.multiplebgs input[type=button].small.add:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -70px; }

/* - Remove - */
input[type=submit].remove:hover,
input[type=button].remove:hover,
input[type=reset].remove:hover,
button.remove:hover,
.button.remove:hover,
input.remove[type=submit]:hover,
input.remove[type="button"]:hover,
input.remove[type=reset]:hover {
  color: #900; }

input[type=submit].remove:active,
input[type=button].remove:active,
input[type=reset].remove:active,
button.remove:active,
.button.remove:active,
input.remove[type=submit]:active,
input.remove[type="button"]:active,
input.remove[type=reset]:active {
  color: #b0b0b0; }

.multiplebgs input[type=submit].icon.small.remove,
.multiplebgs input[type=button].icon.small.remove,
.multiplebgs input[type=reset].icon.small.remove {
  background-position: -5px -102px, 0 0; }

.multiplebgs input[type=submit].icon.small.remove:active,
.multiplebgs input[type=button].icon.small.remove:active,
.multiplebgs input[type=reset].icon.small.remove:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -166px; }

/* √ Confirm √ */
.multiplebgs input[type=submit].icon.small.confirm,
.multiplebgs input[type=button].icon.small.confirm {
  background-position: -5px -198px, 0 0; }

.multiplebgs input[type=submit].icon.small.confirm:active,
.multiplebgs input[type=button].icon.small.confirm:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -262px; }

/* ↓ Download ↓ */
.multiplebgs input[type=submit].icon.small.download,
.multiplebgs input[type=button].icon.small.download {
  background-position: -5px -294px, 0 0; }

.multiplebgs input[type=submit].icon.small.download:active,
.multiplebgs input[type=button].icon.small.download:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -358px; }

/* ↑ Upload ↑ */
.multiplebgs input[type=submit].icon.small.upload,
.multiplebgs input[type=button].icon.small.upload {
  background-position: -5px -390px, 0 0; }

.multiplebgs input[type=submit].icon.small.upload:active,
.multiplebgs input[type=button].icon.small.upload:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -454px; }

/* ↑ Like ↑ */
.multiplebgs input[type=submit].icon.small.like,
.multiplebgs input[type=button].icon.small.like {
  background-position: -5px -486px, 0 0; }

.multiplebgs input[type=submit].icon.small.like:active,
.multiplebgs input[type=button].icon.small.like:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -550px; }

/* ↓ Dislike ↓ */
.multiplebgs input[type=submit].icon.small.dislike,
.multiplebgs input[type=button].icon.small.dislike {
  background-position: -5px -582px, 0 0; }

.multiplebgs input[type=submit].icon.small.dislike:active,
.multiplebgs input[type=button].icon.small.dislike:active {
  background: #f9f9f9 url(../images/inputs-icons.png) no-repeat -5px -646px; }
