input.button,
a.button:link, a.button:visited {
  display: inline;
  text-decoration: none;
  
  background: #e6e6e6;
  
  padding: 0 48px;
  border-radius: 2em;
  border: 1px solid #828282;
  
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  font-family: sans-serif;
  color: #444;
}
a.button:hover {
  background: inherit !important;
  border-color: inherit;
  color: inherit;
}