@import "base";
/* 
-----------------------------------------------
Icons
----------------------------------------------- */

button.icon,
.button.icon {
  &:before {
    content: '';
    display: inline-block;
    *position: relative;
    *left: -8px;

    vertical-align: bottom;
    _vertical-align: middle;

    margin: 0 5px 0 -8px;
    width: 16px;
    height: 16px;
    background: transparent url(../images/inputs-icons.png) no-repeat;
  }
}

button.add, .button.add {
  &:before {
    background-position: -8px -8px;
  }
  &:active:before {
    background-position: -8px -72px;
  }
}
button.remove, .button.remove {
  &:before {
    background-position: -8px -104px;
  }
  &:active:before {
    background-position: -8px -168px;
  }
}
button.confirm, .button.confirm {
  &:before {
    background-position: -8px -200px;
  }
  &:active:before {
    background-position: -8px -264px;
  }
}
button.download, .button.download {
  &:before {
    background-position: -8px -296px;
  }
  &:active:before {
    background-position: -8px -360px;
  }
}
button.upload, .button.upload {
  &:before {
    background-position: -8px -392px;
  }
  &:active:before {
    background-position: -8px -456px;
  }
}