/* 
-----------------------------------------------
Text fields
----------------------------------------------- */
input[type=text],
input,
textarea {
  font-size: 13px;
  height: 22px;
  /* Avoid shorthand for padding - IE bug: http://prax.is/misc/ie8-bug-css-padding-input-element.html */
  padding: 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
  background: #fcfcfc; }

textarea {
  height: auto; }

input:focus, textarea:focus {
  background: #fff; }

input[type=checkbox] {
  padding: 0;
  border: none;
  background: none; }

.lock-x {
  margin-right: 10px;
  /* = textfield-padding-left + textfield-padding-right + textfield-border-left-width + textfield-border-right-width*/ }

.lock-x input,
.lock-x textarea {
  width: 100%; }

/* Work in progress */
.lock-y {
  margin-bottom: 14px;
  /* = textarea-padding-top + textarea-padding-bottom + textarea-border-top-width + textarea-border-bottom-width*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }

.lock-y textarea {
  height: 100%; }
